body,
html {
    font-family: 'Roboto', sans-serif;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

.ft-change-one {
    color: #6059f6 !important;
}

.font-change {
    font-size: 15px;
    color: #000000 !important;
}

.font-change:hover {
    color: #6059f6 !important;
}

.nav-head {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    transition-property: all;
    transition-duration: 0.4s, 0.3s;
    transition-timing-function: ease, linear;
    transition-delay: 0s, 0s;
}

.magic-ball {
    position: relative;
}

.travel-h1 {
    color: #6059f6;
    font-size: 42px;
}

.travel-p {
    color: #888888;
    font-size: 16px;
    line-height: 26px;
}

.button-hero {
    display: inline-block;
    background-color: #6059f6;
    border-radius: 30px;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.button-hero-one {
    display: inline-block;
    background-color: #6059f6;
    border-radius: 30px;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.button-hero:hover {
    background-color: #201aa3;
}

.head-h2 {
    color: #2a2a2a;
    font-size: 36px;
    font-family: "roboto condensed", sans-serif;
    line-height: 45px;
}

.head-p {
    color: #888888;
    font-size: 15px;
    font-family: "roboto condensed", sans-serif;
}

.head-section {
    padding-top: 230px;
}

.service-image {
    height: 170px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.services-image1 {
    background-image: url(../images/service1.png);
}

.services-image2 {
    background-image: url(../images/service2.png);
}

.services-image3 {
    background-image: url(../images/service3.png);
}

.service-h3 {
    color: #2a2a2a;
    font-size: 20px;
    font-family: "roboto condensed", sans-serif;
}

.service-p {
    color: #888888;
    font-size: 15px;
    line-height: 25px;
}

.service-card {
    background: #f8f8ff;
    transition: all .3s ease 0s;
}

.service-card:hover {
    background-color: #fff;
}

.bg-exploration {
    background-color: #f8f8ff;
}

.exploration-h2 {
    color: #2a2a2a;
    font-size: 36px;
    font-family: "roboto condensed", sans-serif;
    line-height: 45px;
    padding-right: 190px;
}

.exploration-p {
    color: #888888;
    font-size: 15px;
    line-height: 25px;
}

.spirit-section {
    padding-right: 180px;
}

.testimonial-h3 {
    color: #2a2a2a;
    font-size: 20px;
    font-family: "roboto condensed", sans-serif;
}

.testimonial-p {
    color: #888888;
    font-size: 14px;
}

.testimonial-paragraph {
    color: #888888;
    font-size: 15px;
    line-height: 25px;
}

.box-card {
    max-width: 80%;
    box-shadow: 0px 10px 30px 0px rgba(12, 46, 96, 0.1);
}

.test-icon {
    color: rgba(119, 119, 119, .1);
    font-size: 175px;
    right: 20px;
}

.search-h2 {
    color: #2a2a2a;
    font-size: 36px;
    font-family: "roboto condensed", sans-serif;
    line-height: 45px;
    padding-right: 188px;
}

.search-p {
    color: #888888;
    font-size: 15px;
    line-height: 25px;
}

.package-section {
    padding-right: 170px;
}

.package-h3 {
    color: #2a2a2a;
    font-size: 25px;
    font-family: "roboto condensed", sans-serif;
}

.search-wrapper {
    background: #f8f8ff;
    padding: 0px 10px;
    text-align: center;
}

.search-wrapper h3 {
    font-size: 25px;
    margin-bottom: 50px;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.search-form .nice-select {
    width: 100%;
    height: 50px;
    line-height: 50px;
    border: 0;
    border-radius: 0;
    margin-bottom: 20px;
    font-size: 14px;
    color: #999;
}

.input-group>.custom-select:not(:last-child),
.input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search-form .form-control {
    font-size: 14px;
    color: #999;
    padding-left: 20px;
    border: 0;
    height: 50px;
    border-radius: 0;
}

.input-group>.custom-file,
.input-group>.custom-select,
.input-group>.form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.form-control {
    display: block;
    padding: .375rem .75rem;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.search-form .input-group-append .input-group-text {
    border: 0;
    padding-right: 20px;
    border-radius: 0;
    background: #fff;
}

.search-form .input-group-append i,
.search-form .input-group-append span {
    font-size: 14px;
    color: #999;
}

.nice-select {
    -webkit-tap-highlight-color: transparent;
    background-color: #fff;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-weight: 400;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left!important;
    user-select: none;
    white-space: nowrap;
}

.nice-select .list:hover .option:not(:hover) {
    background-color: transparent!important;
}

.nice-select .option:hover,
.nice-select .option.focus,
.nice-select .option.selected.focus {
    background-color: #f6f6f6;
}

.nice-select .list {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(68, 68, 68, .11);
    box-sizing: border-box;
    margin-top: 4px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    left: 0;
    transform-origin: 50% 0;
    transform: scale(.75) translateY(-21px);
    transition: all .2s cubic-bezier(.5, 0, 0, 1.25), opacity .15s ease-out;
    z-index: 9;
}

.nice-select .option.disabled {
    color: #999;
    cursor: default;
}

.nice-select .option.selected {
    font-weight: 700;
}

.nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 40px;
    list-style: none;
    min-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
    transition: all .2s;
}

.search-form .nice-select:after {
    right: 25px;
}

.nice-select:after {
    border-bottom: 2px solid #999;
    border-right: 2px solid #999;
    content: '';
    display: block;
    height: 5px;
    margin-top: -4px;
    pointer-events: none;
    position: absolute;
    right: 12px;
    top: 50%;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    transition: all .15s ease-in-out;
    width: 5px;
}

.nice-select.open .list {
    opacity: 0;
    pointer-events: auto;
    transform: scale(1) translateY(0);
}

@media only screen and (min-width: 1024px) {
    .bg-shape::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 595px;
        height: 660px;
        background: url(../images/bg-shape-left.png) left center no-repeat;
        background-size: cover;
        z-index: -1;
    }
    .bg-shape::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 755px;
        height: 860px;
        background: url(../images/bg-shape-right.png) left center no-repeat;
        background-size: cover;
        z-index: -1;
    }
    .magic-ball::after {
        content: "";
        display: block;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-color: #ebebff;
        opacity: .5;
        position: absolute;
        bottom: -250px;
        left: 70px;
    }
    .magic-ball::before {
        content: "";
        display: block;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 15px solid #6059f6;
        opacity: .5;
        position: absolute;
        bottom: -68px;
        left: -40px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .travel-h1 {
        font-size: 30px;
    }
    .travel-p {
        font-size: 16px;
        line-height: 26px;
    }
    .exploration-h2 {
        font-size: 36px;
        line-height: 45px;
        padding-right: 10px;
    }
    .spirit-section {
        padding-right: 80px;
    }
    .search-h2 {
        padding-right: 50px;
    }
    .search-p {
        padding-right: 80px;
    }
    .package-section {
        padding-right: 0px;
    }
}

@media only screen and (min-width: 569px) and (max-width: 768px) {
    .travel-h1 {
        font-size: 30px;
    }
    .travel-p {
        font-size: 16px;
        line-height: 26px;
    }
    .head-section {
        padding-top: 10px;
    }
    .exploration-h2 {
        font-size: 36px;
        line-height: 45px;
        padding-right: 70px;
    }
    .spirit-section {
        padding-right: 0px;
    }
    .search-h2 {
        padding-right: 50px;
    }
    .package-section {
        padding-right: 0px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
    .travel-h1 {
        font-size: 25px;
    }
    .travel-p {
        font-size: 15px;
        line-height: 26px;
    }
    .font-change,
    .ft-change-one {
        color: #fff !important;
    }
    .navbar {
        background-color: #6059F6;
    }
    .button-hero {
        background-color: #201aa3;
    }
    .head-section {
        padding-top: 10px;
    }
    .head-h2 {
        color: #2a2a2a;
        font-size: 27px;
        font-family: "roboto condensed", sans-serif;
        line-height: 35px;
    }
    .head-p {
        color: #888888;
        font-size: 12px;
        font-family: "roboto condensed", sans-serif;
    }
    .exploration-h2 {
        font-size: 25px;
        line-height: 35px;
        padding-right: 0px;
    }
    .spirit-section {
        padding-right: 0px;
    }
    .search-h2 {
        font-size: 25px;
        line-height: 32px;
        padding-right: 10px;
    }
    .package-section {
        padding-right: 0px;
    }
}